* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
        sans-serif;
    position: relative;
}

/* Navigation bar style */

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 10vh;
    padding: 15px 7.5%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.nav__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 2 1 30px;
}

#logo {
    flex: 1 1 0px;
}

#logo img {
    width: 200px;
    cursor: pointer;
}

.nav__links {
    flex: 2 1 50px;
}

.nav__links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav__links>ul a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.nav__buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 200px;
}

.nav__buttons button {
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.login {
    background-color: white;
    color: rgb(255, 123, 0);
    border: 1px solid rgb(255, 123, 0);
    margin-right: 8px;
}

.join {
    background-color: rgb(255, 123, 0);
    color: white;
    border: none;
}

/* section_1 _____________________________________section_1 */


.section_1_container{
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 1500px;
    margin-top: 150px;
    margin-left: 100px;
}
.section_1_cont{
    height: 400px;
    width: 600px;
    
}
.section_1_image img{
    height: 400px;
    width: 300px;
    margin-left: 100px;
}
.section_1_heading{
    font-size: 40px;
    margin-top: 20px;
    color: #58b9a6;
    margin-bottom: 40px;
}
.section_1_sub_heading{
    font-size: 25px;
    color: rgb(92, 92, 92);

}
.section_1_button{
    padding: 20px;
    width: 120px;
    background-color: #eb7508;
    border: none;
    border-radius: 5px;
    margin: 50px 0px; 
    font-size: 15px;
    color: white;  
    
}
.section_1_text{
    margin-left: 100px;
    margin-bottom: 150px;
}
/* section2--------------------------------section2 */
.services {
    margin-top: 150px;
}

/* section1 ________________________CSS */
.section_1 {
    /* border: 1px solid black; */
    margin-top: 150px;
}

.top_heading {
    height: 400px;
    width: 550px;
    float: left;
    margin-left: 100px;
    ;
}

.section_1_image {
    height: 400px;
    width: 600px;
    margin-left: 150px;
}

.heading_size {
    font-size: 40px;

    margin-bottom: 40px;
    color: rgb(13, 101, 104);

}

.sub_heading {
    font-size: 25px;
    color: rgb(92, 92, 92);
}

.get_started {
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    font-size: 15px;
    color: white;
    background-color: rgb(255, 123, 0);
    margin-top: 30px;
    border: none;
}

.below_sub_heading {
    margin-left: 100px;
    margin-top: 50px;
}


/* section1 ________________________CSS */

.section_2_container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    color: rgb(92, 92, 92);
    font-size: 14px;
    /* border: 1px solid black; */
}

.section_2_heading {
    text-align: center;
    font-size: 40px;
    color: rgb(13, 101, 104);
}

.section_2_animated_image_size>div {
    float: left;
}

.section_2_animated_image {
    height: 300px;
    width: 370px;
    /* border: 1px solid black; */
}

.section_2_cont {
    height: 500px;
    width: 450px;
    padding: 20px;
    line-height: 25px;
    /* border: 1px solid black; */
}

.section_2_cont_text {
    margin-top: 20px;
}

.section_2_join_now {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-size: 15px;
    background-color: rgb(255, 123, 0);
    border: none;
    border-radius: 5px;
    /* width: 150px; */
    text-align: center;
    color: white;
    cursor: pointer;
}

.section_2_text_below_submit {
    text-align: center;
    margin: 30px;
}

.section_2_text_below_submit a {
    color: rgb(13, 101, 104);
}
    
    


















/* footer section */
footer {
    width: 100%;
    background-color:#2c333f;
    padding: 70px;
    display: flex;
    color: white;
}

.footer__left {
    width: 200px;
    flex: 2 1 300px;
    padding-top: 30px;
}

.footer__left__form form {
    margin-left: 30px;
    line-height: 35px;
}

.footer__left__form form input {
    width: 500px;
    padding: 10px;
    margin: 15px 0;
}

.form__submit__button {
    padding: 10px 18px;
    border: none;
    color: white;
    background-color: rgb(13, 101, 104);
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.footer__left__bottom {
    margin: 30px 0;
}

.footer__social__links a img {
    width: 20px;
    margin: 10px 20px 30px 0;
}

.footer__info p {
    font-size: 17px;
    line-height: 30px;
    margin: 10px 10px 30px 0;
    color: rgb(226, 226, 226);
}

.footer__services__info p {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 10px 20px 0;
    font-family: 'Tinos',
        serif;
    color: rgb(226, 226, 226);
}

.footer__services__info h4 a {
    color: white;
    font-weight: 300;
}

.footer__right {
    flex: 1 1 150px;
    margin: 0 30px;
}

.footer__logo img {
    width: 200px;
    margin-bottom: 20px;
}

.footer__links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.our__care__links,
.about__links,
.partner__links,
.get__in__touch__links {
    display: flex;
    flex-direction: column;
}

.our__care__links>a,
.about__links>a,
.partner__links>a,
.get__in__touch__links>a {
    color: white;
    margin: 3px 0;
    font-size: 13px;
}

.our__care {
    margin-bottom: 40px;
}

.partner {
    margin-bottom: 20px;
}