/* Global Styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
        sans-serif;
    position: relative;
}

/* Navigation bar style */

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 10vh;
    padding: 15px 7.5%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.nav__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 2 1 30px;
}

#logo {
    flex: 1 1 0px;
}

#logo img {
    width: 200px;
    cursor: pointer;
}

.nav__links {
    flex: 2 1 50px;
}

.nav__links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav__links>ul a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.nav__buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 200px;
}

.nav__buttons button {
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.login {
    background-color: white;
    color: rgb(255, 123, 0);
    border: 1px solid rgb(255, 123, 0);
    margin-right: 8px;
}

.join {
    background-color: rgb(255, 123, 0);
    color: white;
    border: none;
}

/*Services Section*/
.services {
    margin-top: 150px;
}

/* section1 ________________________CSS */
.section_1{
    /* border: 1px solid black; */
    margin-top: 150px;
}
.top_heading{
    /* border: 1px solid black; */
    height: 400px;
    width: 550px;
    float: left;
    margin-left: 100px;
   ;
}
.section_1_image{
    height: 400px;
    width: 600px;
    /* background-color: black; */
    margin-left: 150px;
}
.heading_size{
    font-size: 40px;

    margin-bottom: 40px;
    color: rgb(13, 101, 104);

}
.sub_heading{
    font-size: 25px;
    color: rgb(92, 92, 92);
}
.get_started{
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    font-size: 15px;
    color: white;
    background-color: orangered;
    margin-top: 30px;
    border: none;
}
.below_sub_heading{
    margin-left: 100px;
    margin-top: 50px;
}


/* section1 ________________________CSS */

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    color: rgb(92, 92, 92);
    font-size: 14px;
    
    /* font-family: 'Noto Serif JP', serif; */
}

.heading {
    text-align: center;
    font-size: 40px;
    color: rgb(63, 63, 63);
}

.animated_image_size>div {
    float: left;
    /* padding: fit-content;  */
}

.animated_image {
    height: 300px;
    width: 350px;
}

.cont {
    height: 500px;
    width: 350px;
    padding: 20px;
    line-height: 25px;
}
.cont_text{
    margin-top: 20px;
   
}

.our_service {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 15px;
    background-color: rgb(13, 101, 104);
    border: none;
    border-radius: 5px;
    /* width: 150px; */
    text-align: center;
    color: white;

}

.text_below_submit {
    text-align: center;
    margin: 30px;
}

.text_below_submit a {
    color: rgb(13, 101, 104);
}


/* Membership Section*/
.membership {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: fit-content;
    margin: 150px auto;
}

.membership__text {
    margin-right: 20px;
}

.membership__text,
.membership__card {
    min-width: 300px;
    flex: 1 1 200px;
    padding: 30px 0px;
}

.membership__text h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: rgb(63, 63, 63);
}

.membership__text h5,
.membership__text p {
    font-size: 15px;
    line-height: 30px;
}

.membership__text p {
    color: rgb(63, 63, 63);
}

.membership__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(13, 101, 104);
    border-radius: 5px;
    margin-left: 20px;

}

.membership__card h3 {
    font-size: 20px;
}

.membership__card__heading {
    color: rgb(13, 101, 104);
}

.membership__card__heading sub {
    font-size: 20px;
    vertical-align: 20%;
}

.membership__card__heading sup {
    vertical-align: 55%;
    font-size: 50px;
}

.membership__card__heading span {
    font-size: 110px;
}

.membership__card__paragraph {
    color: rgb(63, 63, 63);
    width: 50%;
    margin: 0 auto;
}

/* How it works section*/
.how__it__works {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    padding: 80px 20px;
}

.how__it__works__image,
.how__it__works__text {
    flex: 1 1 50%;
}

.how__it__works__image img {
    width: 500px;
}

.how__it__works__text {
    padding: 20px;
}

.how__it__works__text h1 {
    font-size: 40px;
    color: rgb(63, 63, 63);
}

.how__it__works__text p {
    margin-top: 20px;
    color: rgb(92, 92, 92);
}

.how__it__works__text li {
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
    color: rgb(92, 92, 92);
}

.how__it__works__text button {
    padding: 20px 30px;
    background-color: rgb(13, 101, 104);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 25px 0;
    cursor: pointer;
}

.how__it__works__text a {
    text-decoration: none;
    color: white;
}

/* Location section */
.location {
    margin-bottom: 50px;
}

.location h1 {
    text-align: center;
    margin: 30px;
    color: rgb(13, 101, 104);
    font-size: 40px;
}

.location__container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.location__container__image {
    flex: 1 1 250px;
    margin-right: 15px;
}

.location__container__image img {
    width: 510px;
}

.location__container__text {
    flex: 1 1 250px;
    margin-left: 15px;
}

.location__container__text h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(63, 63, 63);
}

.location__container__text p {
    font-size: 16px;
    color: rgb(92, 92, 92);
    margin: 20px 0;
}

.location__container__text button {
    padding: 25px 45px;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px 0;
}

.location__container__text h4 {
    color: rgb(63, 63, 63);
    font-size: 16px;
}

.location__container__text h4 a {
    color: rgb(13, 101, 104);
}

/* near you section */
.near__you {
    width: 100%;
    background-color: rgb(13, 101, 104);
    padding: 50px;
    color: white;
    margin: 100px 0;
}

.near__you__text {
    width: 480px;
    margin: 20px auto;
}

.near__you__text h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.near__you__text p {
    font-size: 14px;
}

.near__you__details {
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

.near__you__details>div input {
    margin: 10px 0;
    height: 35px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.near__you__details>button {
    height: 35px;
    align-self: flex-end;
    width: 80px;
    margin: 10px 0;
    border: none;
    background-color: white;
    font-size: 14px;
    color: rgb(13, 101, 104);
    border-radius: 5px;
    cursor: pointer;
}

/* bright days section */
.brighter__days {
    width: 85%;
    margin: auto;
}

.brighter__days h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(63, 63, 63);
    margin-bottom: 20px;
}

.brighter__days__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 70px;
}

.brighter__days__cards img {
    width: 280px;
    height: 280px;
}

.brighter__days p {
    color: rgb(92, 92, 92);
    font-size: 16px;
    text-align: center;
    margin-bottom: 70px;
}

.brighter__days p a {
    color: rgb(13, 101, 104);
}



/* animations */
.nav__links--to--skyblue--color:hover {
    color: rgb(17, 133, 228);
    transition: 0.1s ease-in-out;
}

.join__button--color--change:hover {
    background-color: rgb(235, 117, 8);
    transition: 0.1s ease-in-out;
}

.membership__card--background--color--change {
    background-color: rgb(13, 101, 104);
    transition: 0.1ease-in-out;
}

.membership__card--white--text {
    color: white;
    transition: all 0.7s ease;
}

.how__it__works__text button:hover {
    background-color: rgb(18, 124, 128);
    transition: 0.1s ease-in-out;
}

/* .section_4_________________section4 */
.url_image{
    margin-left: 150px;
   display: flex;
}
.company_name{
  margin: 40px;
}
.text_under_url_image{
    width: 1000px;
    font-size: 40px;
    margin-left: 300px;
    color: rgb(18, 124, 128);
}
.Brightline_Member{
    margin-left: 300px;

}
/* section5_______________________5 */
.care{
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}
.section_5_image_1{
    height: 300px;
    width: 500px;
    

}
.section_5_image_2{
    height: 500px;
    width: 350px;
    margin-left: 150px;

}
.section_5_box{
    display: flex;
    margin-left: 250px;
    margin-top: 40px;
}
.section_5_image_1_box{
    height: 400px;
    width: 500px;
}
.section_5_image_1_text{
    font-size: 25px;
    margin-top: 20px;
}
.join_now{
    padding: 20px;
    height: 60px;
    background-color: rgb(18, 124, 128);
    width: 130px;
    margin:30px 0px 30px 700px;
   
    
    border: none;
    color: white;
   
    border-radius: 5px;
   
    
}